html, body {
    height: 100%;
    background-color: #343541;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    font-size: 48px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 100px;
}

#text-area {
    max-height: calc(100% - 60px); /* or the height of your header and footer */
  margin-top: 20px;
  margin-bottom: 100px; /* or the height of your footer */
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 100px;
}

#sidebar::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
}

#sidebar {
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #202123;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateX(-200px);
    opacity: 0;
    z-index: 1;
}



footer.hidden {
    opacity: 0;
}

#sidebar.open {
    transform: translateX(0);
    opacity: 1;
}

#chat-container {
    position: relative;
    min-height: 100%;
}

#main-content {
    margin-left: 200px;
    padding: 20px;
    overflow-y: auto;
    padding-bottom: 60px; /* or the height of your footer */
}

#main-screen {
    max-width: 100%;
    overflow-x: hidden;
}

button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    background-color: #444654;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button-list {
    display: block;
    width: 100%;
}

hr {
    width: 100%;
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

#toggle-sidebar {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 9999;
}

button:hover {
    background-color: #444;
}

ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    width: 100%;
    margin: 10px 0;
}

footer {
    height: 60px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px;
    background-color: #343541;
    z-index: 0;
}
/*
footer {
  height: 60px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px;
  background-color: #343541;
}
*/
.message {

}

input[type="text"] {
    color: white;
}

.message-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 0 auto;
}

.message-input-container input {
    width: calc(100% - 20px); /* Subtract padding from 100% to make room for borders */
    padding: 10px;
}

input:focus {
    outline: none !important;
    border-color: #40414f;
    box-shadow: 0 0 10px #719ECE;
}


input, textarea {
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    background-color: #40414f;
    font-size: 16px;
    line-height: 1.5;
}

#chat-hr {
    max-width: 90%;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
}