html {
    background-color: #343541;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    font-size: 48px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 100px;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 100px;
}

#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 200px;
    background-color: #202123;
	padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
	transform: translateX(-200px);
    opacity: 0;
}

#sidebar.open {
	transform: translateX(0);
	opacity: 1;
}

#main-content {
    margin-left: 200px;
    padding: 20px;
}

button {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    background-color: #444654;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.button-list {
    display: block;
    width: 100%;
}

hr {
    width: 100%;
    border: none;
    border-top: 1px solid #ddd;
    margin: 10px 0;
}

#toggle-sidebar {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 9999;
}

button:hover {
    background-color: #444;
}

ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    width: 100%;
    margin: 10px 0;
}
